{%extends "studLayout.html"%} {% block title %}Application Form{% endblock %} {% block
content %}
<div class="fs-2 fw-bold text-center mb-2">Application Form</div>
<div class="container mb-2 d-flex flex-row">
  {% include 'includes/appnav.html' %}
  <!-- tab contents -->
  <!-- nested tab -->
  <div class="col-9">
    <ul class="nav nav-underline mb-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active px-3" id="pi-tab" data-bs-toggle="tab" data-bs-target="#pi" type="button"
          role="tab" aria-controls="pi" aria-selected="true">
          Personal Information
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link px-3" id="upload-tab" data-bs-toggle="tab" data-bs-target="#upload" type="button"
          role="tab" aria-controls="upload" aria-selected="false">
          Upload MyKad
        </button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <!-- nested tab content -->
      <div class="tab-pane fade show active" id="pi" role="tabpanel" aria-labelledby="pi-tab">
        {% if application|length != 0 %}
        <form class="row g-3" action="/application/apply/updateinfo" method="POST" enctype="multipart/form-data">
          <div class="col-12">
            <label for="name" class="form-label">Name (as in MyKad)</label>
            <input type="text" class="form-control border-3" id="name" name="name"
              value="{{application.studentName if application.studentName != None else ' '}}" />
          </div>
          <div class="col-12">
            <label for="ic" class="form-label">MyKad No.</label>
            <input type="text" class="form-control border-3" id="ic" name="ic"
              value="{{application.identification if application.identification != None else ' '}}" />
          </div>

          <div class="col-2">
            <label for="gender" class="form-label col-2">Gender</label>
            <div class="btn-group col-12" role="group">
              <input type="radio" class="btn-check" name="gender" id="gender1" value="Male" autocomplete="off">
              <label class="btn btn-outline-primary" for="gender1">Male</label>
              <input type="radio" class="btn-check" name="gender" id="gender2" value="Female" autocomplete="off">
              <label class="btn btn-outline-primary" for="gender2">Female</label>
            </div>
          </div>

          <div class="col-10">
            <label for="address" class="form-label">Address</label>
            <textarea class="form-control border-3" id="address" name="address" row="3"
              value="{{application.fullAddress if application.fullAddress != None else ' '}}"></textarea>
          </div>
          <div class="col-6">
            <label for="phone" class="form-label">Handphone Number</label>
            <input class="form-control border-3" id="phone" name="phone"
              value="{{application.handphoneNumber if application.handphoneNumber != None else ' '}}" />
          </div>
          <div class="col-6">
            <label for="email" class="form-label">Email Address</label>
            <input class="form-control border-3" type="email" id="email" name="email"
              value="{{application.email if application.email != None else ' '}}" />
          </div>
          <div class="col-12">
            <label for="guardName" class="form-label">Parent/Guardian Name</label>
            <input type="text" class="form-control border-3" id="guardName" name="guardName"
              value="{{application.guardianName if application.guardianName != None else ' '}}" />
          </div>
          <div class="col-12">
            <label for="guardNo" class="form-label">Parent/Guardian Contact Number</label>
            <input class="form-control border-3" type="text" id="guardNo" name="guardNo"
              value="{{application.guardianNumber if application.guardianNumber != None else ' '}}" />
          </div>
          <div class="col-6">
            <label for="selectHealth" class="form-label">Illness or Physical/Mental Disability</label>
            <select class="form-select" id="selectHealth" name="selectHealth" onchange="EnableDisableTextBox(this)">
              <option selected value="No Physical Disability / Illness">
                NO PHYSICAL DISABILITY / ILLNESS
              </option>
              <option value="Asthma">ASTHMA</option>
              <option value="Blind">BLIND</option>
              <option value="Colour Blind">COLOUR BLIND</option>
              <option value="Deaf">DEAF</option>
              <option value="Deaf (With Hearing Aid)">
                DEAF (WITH HEARING-AID)
              </option>
              <option value="Feet Deformity">FEET DEFORMITY</option>
              <option value="G6PD">G6PD</option>
              <option value="Hand Deformity">HAND DEFORMITY</option>
              <option value="Mute">MUTE</option>
              <option value="Paralysis">PARALYSIS</option>
              <option value="Speech Impairment">SPEECH IMPAIRMENT</option>
              <option value="Others">OTHERS</option>
            </select>
          </div>
          <div class="col-6">
            <label for="others" class="form-label">If Others, Please Specify</label>
            <input class="form-control border-3" type="text" id="others" name="others" disabled />
          </div>
          <button type="submit" class="btn btn-primary">Save & Next</button>
        </form>

        {% else %}
        <form class="row g-3" action="/application/apply/insertinfo" method="POST" enctype="multipart/form-data">
          <div class="col-12">
            <label for="name" class="form-label">Name (as in MyKad)</label>
            <input type="text" class="form-control border-3" id="name" name="name" />
          </div>
          <div class="col-12">
            <label for="ic" class="form-label">MyKad No.</label>
            <input type="text" class="form-control border-3" id="ic" name="ic" />
          </div>

          <div class="col-2">
            <label for="gender" class="form-label col-2">Gender</label>
            <div class="btn-group col-12" role="group">
              <input type="radio" class="btn-check" name="gender" id="gender1" value="Male" autocomplete="off" checked>
              <label class="btn btn-outline-primary" for="gender1">Male</label>
              <input type="radio" class="btn-check" name="gender" id="gender2" value="Female" autocomplete="off">
              <label class="btn btn-outline-primary" for="gender2">Female</label>
            </div>
          </div>

          <div class="col-10">
            <label for="address" class="form-label">Address</label>
            <textarea class="form-control border-3" id="address" name="address" row="3"></textarea>
          </div>
          <div class="col-6">
            <label for="phone" class="form-label">Handphone Number</label>
            <input class="form-control border-3" id="phone" name="phone" />
          </div>
          <div class="col-6">
            <label for="email" class="form-label">Email Address</label>
            <input class="form-control border-3" type="email" id="email" name="email" />
          </div>
          <div class="col-12">
            <label for="guardName" class="form-label">Parent/Guardian Name</label>
            <input type="text" class="form-control border-3" id="guardName" name="guardName" />
          </div>
          <div class="col-12">
            <label for="guardNo" class="form-label">Parent/Guardian Contact Number</label>
            <input class="form-control border-3" type="text" id="guardNo" name="guardNo" />
          </div>
          <div class="col-6">
            <label for="selectHealth" class="form-label">Illness or Physical/Mental Disability</label>
            <select class="form-select" id="selectHealth" name="selectHealth" onchange="EnableDisableTextBox(this)">
              <option selected value="No Physical Disability / Illness">
                NO PHYSICAL DISABILITY / ILLNESS
              </option>
              <option value="Asthma">ASTHMA</option>
              <option value="Blind">BLIND</option>
              <option value="Colour Blind">COLOUR BLIND</option>
              <option value="Deaf">DEAF</option>
              <option value="Deaf (With Hearing Aid)">
                DEAF (WITH HEARING-AID)
              </option>
              <option value="Feet Deformity">FEET DEFORMITY</option>
              <option value="G6PD">G6PD</option>
              <option value="Hand Deformity">HAND DEFORMITY</option>
              <option value="Mute">MUTE</option>
              <option value="Paralysis">PARALYSIS</option>
              <option value="Speech Impairment">SPEECH IMPAIRMENT</option>
              <option value="Others">OTHERS</option>
            </select>
          </div>
          <div class="col-6">
            <label for="others" class="form-label">If Others, Please Specify</label>
            <input class="form-control border-3" type="text" id="others" name="others" disabled />
          </div>
          <button type="submit" class="btn btn-primary">Save & Next</button>
        </form>
        {% endif %}
      </div>

      <!-- ic tab -->
      <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="upload-tab">
        <form class="row g-3" action="{{url_for('uploadic', id=application.applicationID, name=application.studentName)}}" method="POST" enctype="multipart/form-data">
          <div class="col-6 mb-3">
            <label for="frontIc" class="form-label">MyKad (Front)</label>
            <input class="form-control border-3" type="file" id="frontIc" name="frontIc" accept=".jpg, .png, .jpeg"
              onchange="loadFile(event, 'frontIcPreview')" />
            <img id="frontIcPreview" class="mt-3" width="300" height="300" />
          </div>
          <div class="col-6 mb-3">
            <label for="backIc" class="form-label">MyKad (Back)</label>
            <input class="form-control border-3" type="file" id="backIc" name="backIc" accept=".jpg, .png, .jpeg"
              onchange="loadFile(event, 'backIcPreview')" />
            <img id="backIcPreview" class="mt-3" width="300" height="300" />
          </div>
          <button type="submit" class="btn btn-primary">Save & Next</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function EnableDisableTextBox(healthIssue) {
    var selectedValue = healthIssue.options[healthIssue.selectedIndex].value;
    var txtOther = document.getElementById("others");
    txtOther.disabled = selectedValue == "Others" ? false : true;
    if (!txtOther.disabled) {
      txtOther.focus();
    }
  }

  var loadFile = function (event, frame) {
    var output = document.getElementById(frame);
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function () {
      URL.revokeObjectURL(output.src); // free memory
    };
  };
</script>
{%endblock%}