{%extends "studLayout.html"%}

{% block title %}Home{% endblock %}

{% block content %}
<main>
    <div class="container">
      <section class="about-us">
        <h3>About Us</h3>
        <p>We are a small team of passionate developers who are dedicated to building innovative and user-friendly web applications. We have a combined experience of over 10 years in the web development industry, and we have worked on a wide range of projects, from simple websites to complex enterprise applications.</p>
        <p>We believe that the best way to build a successful web application is to work closely with our clients to understand their needs and requirements. We take the time to get to know your business and your customers, so that we can create an application that is tailored to your specific needs.</p>
        <p>We are also committed to providing our clients with the best possible support. We offer a wide range of support services, including technical support, training, and maintenance. We want to make sure that you are able to get the most out of your web application, and that you are always happy with our services.</p>
      </section>
    </div>
  </main>
  <script>!function (e, t, a) { var c = e.head || e.getElementsByTagName("head")[0], n = e.createElement("script"); n.async = !0, n.defer = !0, n.type = "text/javascript", n.src = t + "/static/js/widget.js?config=" + JSON.stringify(a), c.appendChild(n) }(document, "https://app.engati.com", { bot_key: "0afdf6af1b9a46e1", welcome_msg: true, branding_key: "default", server: "https://app.engati.com", e: "p" });</script>
{%endblock%}