{%extends "studLayout.html"%}

{% block title %}Programme{% endblock %}
{% block head %}
{{super()}}
<style>
    .prog {
    width: 100%;
  max-width: 300px;
  margin: 0 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
@media(min-width:768px) {
    .prog-container{
      justify-content: start!important;
    }
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <h3>Undergraduate Programme</h3> 
    <div class="d-flex flex-wrap justify-content-center prog-container">
        {%for p in courses.keys()%}
        <div class="prog">
          <h4><b>{{p}}</b></h4>
          {%for c in courses[p]%}
          <p>{{c}}</p>
          {%endfor%}
          </div> 
        {%endfor%}
 
      </div>
</div>
{%endblock%}