{%extends "studLayout.html"%}

{% block title %}Academic Qualification{% endblock %}

{% block content %}
<div class="container mb-2 d-flex flex-row">
    {% include 'includes/appnav.html' %}
    <div class="col-9">
        <div class="fs-2 fw-bold text-center mb-2">Academic Qualification</div>
        <p>SPM/O LEVEL/EQUIVALENT:<br />
            Ex-TARCians and applicants from other institution of higher learning with SPM/O Level/equivalent results are
            also
            required to complete this section.
        </p>


        <form class="row g-3" action="/application/assess" method="POST" enctype="multipart/form-data">
            Intake: <select name="intake" id="intake" class="form-control form-select">
                <option value="" selected="selected">Select intake</option>
            </select>
            Campus: <select name="campus" id="campus" class="form-control form-select">
                <option value="" selected="selected">Select campus</option>
            </select>
            <br><br>
            Programme Type: <select name="progType" id="progType" class="form-control form-select">
                <option value="" selected="selected">Please select programme type first</option>
            </select>
            <br><br>
            Programme: <select name="programme" id="programme" class="form-control form-select">
                <option value="" selected="selected">Please select programme first</option>
            </select>
            <div class="col-6 mb-3">
                <label for="qualification" class="form-label">Qualification</label>
                <select id='mySelect' class="form-control form-select">
                    <option value="SPM">SPM</option>
                    <option value="IGCSE/GCSE/O Level">IGCSE/GCSE/O Level</option>
                </select>
            </div>

            <input class="form-control border-3" type="file" id="qualification" name="qualification"
                accept=".jpg, .png, .jpeg" onchange="loadFile(event, 'qualificationPreview')" />
            <img id="qualificationPreview" class="mt-3" width="300" height="300" />
            <button type="submit" class="btn btn-primary">Save & Next</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    function EnableDisableTextBox(healthIssue) {
        var selectedValue = healthIssue.options[healthIssue.selectedIndex].value;
        var txtOther = document.getElementById("others");
        txtOther.disabled = selectedValue == "Others" ? false : true;
        if (!txtOther.disabled) {
            txtOther.focus();
        }
    }

    var loadFile = function (event, frame) {
        var output = document.getElementById(frame);
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src); // free memory
        };
    };

    $('.form-select').on('change', function (e) {
        $(this).closest(".tab-area").find('.nav-tabs li a').eq($(this).val()).tab('show');
    });

</script>
{%endblock%}