<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>
        TAR UMT Account - Reset Password
    </title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/static/css/bootstrapcss.css" />
    <link rel="stylesheet" href="/static/icon/fontawesome/css/all.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="/static/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/static/css/ace.css" />

    <link rel="stylesheet" href="/static/css/ace-rtl.css" />
</head>




<body class="login-layout light-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row d-flex flex-row justify-content-center">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="space-8"></div>
                        <div class="center">
                            <img src="https://www.tarc.edu.my/account/imgs/tarumt-logo.png" width="120px">
                            <h2 style="margin-top:10px">
                                <span class="red" id="page-title">TAR</span><span class="blue" id="page-title">
                                    UMT</span> Account
                            </h2>
                        </div>

                        <div class="space-6"></div>
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            <i class="ace-icon fa fa-key"></i>
                                            Reset Password
                                        </h4>
                                        <div id="resetSuccess" class="alert alert-success" style="display:none">
                                            <span class="msg"></span>
                                            <br />
                                        </div>
                                        <div id="resetError" class="alert alert-danger" style="display:none">
                                            <span class="msg"></span>
                                            <br />
                                        </div>

                                        <div class="space-6"></div>



                                        <form id="frmInput">
                                            <p>
                                                Enter your new password
                                            </p>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input id="new_password" type="password" class="form-control"
                                                            placeholder="New Password"
                                                            onKeyUp="StrengthPassword('new_password','pws_color','btn_register')" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                    <div style="font-size:10px;line-height:15px;padding-top:4px;">
                                                        Passwords must have upper and lower case letters, at least 1
                                                        number, and be at least 8 characters long</div>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input id="new_repeat_password" type="password"
                                                            class="form-control" placeholder="Repeat password" />
                                                        <i class="ace-icon fa fa-retweet"></i>
                                                    </span>
                                                </label>
                                                <div id="new_error" class="red" style="display:none"></div>
                                                <div style="float:right;padding:2px ;">
                                                    <div id="pws_color"
                                                        style=" background-color:#FFC000; border:1px solid #c5c5c5; width:200px; padding:1px; height:25px; text-align:center"
                                                        valign="center">
                                                        Password Strength Level
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="space-12"></div>

                                                <div class="clearfix d-flex flex-row justify-content-end">

                                                    <button id="btn_register" type="button"
                                                        class="width-65 pull-right btn btn-sm btn-success"
                                                        onClick="confirmChange()" disabled>
                                                        <span class="bigger-110">Submit</span>

                                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <form name="frmParam" method="post" action="login.jsp">
        <inputt type='hidden' name="fappcode" id="fappcode">
    </form>


    <!-- basic scripts -->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/static/js/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>

    <link rel="stylesheet" href="/static/css/main.css" />

    <div class="space-6"></div>
    <div class="login-container" style="font-size:10px;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">TAR UMT &copy; 2023 All Rights Reserved</div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-end">
                <a href="https://www.tarc.edu.my/disclaimer.jsp" target="_blank">Disclaimer</a> |
                <a href="https://www.tarc.edu.my/privacy-policy.jsp" target="_blank">Privacy Policy</a>
            </div>
        </div>
    </div>
    <div class="space-6"></div>
    <script>
        function StrengthPassword(input_id, target_id, proceed_btn_id) {
            var passInput = document.getElementById(input_id);
            var pwsObj = document.getElementById(target_id);
            var btnObj = document.getElementById(proceed_btn_id);
            var passwd = passInput.value;
            var intScore = 0
            var strVerdict = "weak"

            var BadPassword = new Array("asdfg1234", "2222222222222222", "8888888888888888", "aaaaa11111", "asdf1234", "abcd1111", "abcd2222", "1111111111111111", "11111111111111111", "111111111111111111", "1111111111111111111", "11111111111111111111", "1111111111111111111111111", "aaaa1111", "1111aaaa", "abc12345", "abc12346", "abcd1234", "abcd12345", "abcd123456", "abcde123", "abcde1234", "abcdef12", "abcde12345", "abcdef123456", "12345abc", "1234abcd", "123abcde", "123abcdef", "1234abcde", "12345abcdef");
            var DisableSubmit = true;

            // PASSWORD LENGTH
            if (passwd.length < 8) {                       // length 4 or less
                intScore = 0
            } else if (passwd.length > 7 && passwd.length < 16) { // length between 8 and 15
                intScore = (intScore + 12)
            } else if (passwd.length > 15) {                   // length 16 or more
                intScore = (intScore + 12)
            }


            // LETTERS (Not exactly implemented as dictacted above because of my limited understanding of Regex)
            if (passwd.match(/[a-z]/)) {        // [verified] at least one lower case letter
                intScore = (intScore + 1)
            }

            if (passwd.match(/[A-Z]/)) {        // [verified] at least one upper case letter
                intScore = (intScore + 1)
            }

            // NUMBERS
            if (passwd.match(/\d+/)) {          // [verified] at least one number
                intScore = (intScore + 5)
            }
            /*
            if (passwd.match(/(.*[0-9].*[0-9].*[0-9])/)){        // [verified] at least three numbers
                intScore = (intScore+5)
            }*/

            // SPECIAL CHAR
            if (passwd.match(/.[~`!@#$%^&*()_\-+={\[}\]\\|;:'",<.>\/?]/)) {           // [verified] at least one special character
                intScore = (intScore + 5)
            }

            // [verified] at least two special characters
            if (passwd.match(/(.*[~`!@#$%^&*()_\-+={\[}\]\\|;:'",<.>\/?].*[~`!@#$%^&*()_\-+={\[}\]\\|;:'",<.>\/?])/)) {
                intScore = (intScore + 5)
            }

            // COMBOS
            if (passwd.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) {        // [verified] both upper and lower case
                intScore = (intScore + 2)
            }

            if (passwd.match(/([a-zA-Z])/) && passwd.match(/([0-9])/)) { // [verified] both letters and numbers
                intScore = (intScore + 2)
            }

            // [verified] letters, numbers, and special characters
            if (passwd.match(/([a-zA-Z0-9].*[~`!@#$%^&*()_\-+={\[}\]\\|;:'",<.>\/?])|([~`!@#$%^&*()_\-+={\[}\]\\|;:'",<.>\/?].*[a-zA-Z0-9])/)) {
                intScore = (intScore + 2);
            }


            if (intScore < 16) {
                pwsObj.style.backgroundColor = "#FFC000";
                strVerdict = "Very weak";

            } else if (intScore > 15 && intScore < 25) {
                strVerdict = "Weak";
                pwsObj.style.backgroundColor = "#FFDE00";

            } else if (intScore > 24 && intScore < 35) {
                strVerdict = "Mediocre";
                pwsObj.style.backgroundColor = "#D8FF00";

            } else if (intScore > 34 && intScore < 45) {
                strVerdict = "Strong";
                pwsObj.style.backgroundColor = "#4EFF00";
            } else {
                strVerdict = "Stronger";
                pwsObj.style.backgroundColor = "#00FFD8";

            }

            if (intScore > 24 && passwd.length > 7) {
                DisableSubmit = false;
            }

            for (i = 0; i < BadPassword.length; i++) {
                if (BadPassword[i] == passInput.value.toLowerCase()) {
                    strVerdict = "Weak";
                    pwsObj.style.backgroundColor = "#FFDE00";
                    DisableSubmit = true;
                }
            }

            /*if(repeatInput.value!=passInput.value){		 
                strVerdict = "Same password detected!";
                pwsObj.style.backgroundColor ="#FFDE00";	
                DisableSubmit=true;						
            }*/

            btnObj.disabled = DisableSubmit;
            pwsObj.innerHTML = strVerdict;
        }

        jQuery(function ($) {

        });
        function validateConfirmInput() {
            $("#new_error").html("");

            if ($("#new_password").val() != $("#new_repeat_password").val()) {
                $("#new_error").show();
                $("#new_error").html("New Password and Repeat Password does not match");
                return false;
            }

            return true;
        }

        function confirmChange() {
            clearDisplayMsg();
            if (validateConfirmInput()) {
                $(".page-overlay").show();
                $.ajax({
                    type: "POST",
                    url: "/AJAXResetPassword",
                    data: {
                        "act": "reset",
                        "femail": "{{email}}",
                        "fpassword": $("#new_password").val()
                    },
                    success: function (data) {
                        $(".page-overlay").hide();
                        if (data.msg == 'success') {
                            $("#resetSuccess").show();
                            $("#resetSuccess .msg").html(data.msgdesc);
                            $("#new_email").val("");
                            $("#new_password").val("");
                            $("#new_repeat_password").val("");
                            $("#frmInput").hide();

                        } else if (data.msg == 'failed') {
                            $("#resetError").show();
                            $("#resetError .msg").html(data.msgdesc);
                        }

                    }, error: function (textStatus, errorThrown) {
                        $(".page-overlay").hide();
                        alert(errorThrown);
                    }
                });
            }
        }

        function clearDisplayMsg() {

            $("#resetSuccess").hide();
            $("#resetSuccess .msg").html("");
            $("#resetError").hide();
            $("#resetError .msg").html("");
        }			
    </script>
</body>

</html>