<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <link rel="stylesheet" href="/static/bootstrapcss.css">
    <script src="../static/bootstrap.bundle.js"></script>
    <script src="../static/popper.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <style>
        .nav-link{
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fs-5">
        <div class="container-fluid" >
          <a class="navbar-brand fs-4" href="#">FOCS (Student Information Center)</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Programme</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Apply & Study</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign in</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% block content %}
    {% endblock %}
</body>
</html>